
/*Search container code*/
.search-container {
  margin: 10px;
}



/*card container code*/
.card-container {
  display: flex;
  flex-wrap: wrap;
}



/*individual card code*/
.event-container {
  font-size: 14px;
  border-width: thin;
  border-style: solid;
  border-color: black;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.event-image {
  max-width: 100%;
  max-height: 100%;
}

.event-title {
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}

.card-heading {
  font-weight: bold;
}


/*Maps*/

.map-marker {
  height: 40px;
  cursor: pointer;
}
