/*app container*/
.app-container {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

/*Header code*/
.header-container {
  height: 60px;
  display: flex;
  margin: 0px;

}

.logo-container {
  margin: 10px 0px 10px 10px;
  flex: 1;
}

.menu-stack {
  height: 40px;


  margin: 10px 10px 10px 0px;

}

.search-toggle {
  height: 40px;


  margin: 10px 10px 10px 0px;

}

/*Search container code*/

.search-container {
  display: flex;
  justify-content: space-around;

  background: #7fb0e7;

}

@media screen and (min-width: 700px) {
  .search-container {
    width: 700px;
  }

  .card-container {
    width: 700px;
  }

  .header-container {
    width: 700px;
  }
}

.search-form {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  margin: 10px 5px 0px 5px;
  width: 100%;
}

.form-section {
  display: flex;
  width: 100%;

  margin: 5px 0px 5px 0px;
}

.section-label-one {
  font-size: 10px;
  width: 70px;
  color: #FFFFFF;
  margin: 0px 5px -2px 5px;

  flex-basis: 100%;
}

.search-child-one {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  margin: 0px 5px 0px 5px;
  padding: 1px 0px 1px 2px;
  flex-basis: 100%;

  background: rgba(255,255,255,1);

  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255,255,255,1);
}

.section-label-two {
  font-size: 10px;
  width: 70px;
  color: #FFFFFF;
  margin: 0px 5px -2px 5px;

  flex-basis: 50%;
}

.search-child-two {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;

  margin: 0px 5px 0px 5px;
  padding: 1px 0px 1px 2px;

  flex-basis: 50%;

  background: rgba(255,255,255,1);

  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255,255,255,1);
}

.two-label-holder {
  display: flex;
  flex-basis: 100%;
}

.search-button-container {
  width: 150px;
  height: 25px;

  background: linear-gradient(to bottom, #2161A5, #12355B);
  border-width: thin;
  border-style: solid;
  border-radius: 15px;
  margin: 5px 0px 10px 0px;
}

.search-button {
  color: rgba(255,255,255,1);
  font-weight: bold;
  text-align: center;
}

/*input box formatting*/
.date-input {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;

  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255,255,255,1);
}

.category-input {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

.radius-input {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

.unit-input {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

/*autocomplete formatting*/

.autocomplete-input {
/*does the actual input box*/
  font-size: 14px;

  font-family: 'Noto Sans', sans-serif;

  margin: 0px 0px 0px 0px;

  border-width: thin;
  border-style: solid;
  border-color: rgba(255,255,255,1);
  border-radius: 10px;
  z-index: 0;
  width: 100%;
}

.autocomplete-group {
/*this is autocomplete container*/
  font-size: 14px;
  position: relative;

  margin: 0px 5px 0px 0px;

  padding-left: 2px;

}

.autocomplete-item {

}

.autocomplete-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.google-logo-image {
  width: 25%;
  margin-right: 30px;
  max-width: 120px;
}

.google-logo-container {
  width: 100%;
  text-align: right;
}

/*card container code*/
.card-container {
  display: flex;
  flex-wrap: wrap;

  background: rgba(242,242,242,1);

}




/*individual card code*/
.event-container {
  font-size: 14px;
  border-width: thin;
  border-style: solid;
  border-color: rgba(174,179,186,1);
  border-radius: 10px;

  min-height: 150px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  align-items: center;

  box-shadow: 2px 2px #b8babc;

  background: rgba(255,255,255,1);

  margin: 5px 10px 5px 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.row-one {
 display: flex;
 min-height: 35px;
 max-height: 40px;
 flex-basis: 100%;

 justify-content: space-between;

}

.row-two {
  display: flex;
  max-height: 50px;
  min-height: 35px;
  flex-basis: 100%;
  margin: 0px auto 0px auto;

  justify-content: space-between;

  border-top-width: thin;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,1);
}

.row-three {
  display: flex;
  height: 35px;
  flex-basis: 100%;

  justify-content: space-between;

  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,1);

}

.row-four {
 display: flex;
 height: 35px;
 flex-basis: 100%;

 margin-top: 3px;

 justify-content: space-between;

 text-align: center;

}

.event-title {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  text-align: center;

}

.card-heading {
  font-weight: bold;

}

.source-logo-container {
  flex-basis: 50%;

}

.source-logo {
  flex-basis: 100%;
  max-width: 60%;
  height: 100%;

}

.event-what {
  flex-basis: 50%;
  text-align: right;

  margin: auto;
}

.buy-button-container {
  width: 100px;
  height: 20px;

  background: linear-gradient(to bottom, #2161A5, #12355B);
  border-width: thin;
  border-style: solid;
  border-radius: 15px;
  margin: 5px auto 10px auto;
}

.buy-tickets {
  text-align: center;
  color: rgba(255,255,255,1);
  text-decoration: none;
  margin: auto;
}

/*Maps*/

.map-toggle {
  height: 40px;
  margin: 10px 10px 0px 10px;
}

.map-container {

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  height: 500px;
}


.map-marker {
  height: 40px;
  cursor: pointer;
}
