/*app container*/
.app-container {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

/*Header code*/
.header-container {
  border-width: thin;
  border-style: solid;
  border-color: rgba(0,0,0,1);
  height: 80px;
  display: flex;
  margin: 0px;
  align-items: flex-end;

}

.logo-container {
  margin: 10px 0px 10px 10px;
  flex: 1;
}

.menu-stack {
  height: 40px;
  align-items: center;
  justify-content:flex-end;
  margin: 10px 10px 10px 0px;

}

.search-toggle {
  height: 40px;
  align-items: center;
  justify-content:flex-end;
  margin: 10px 10px 10px 0px;

}

/*Search container code*/

.search-container {
  display: flex;
  justify-content: space-around;

  background: rgba(247,237,187, 1);

  border-width: thin;
  border-style: solid;
  border-color: rgba(0,0,0,1);
}

.search-form {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  width: 100%;

}

.form-section {
  display: flex;
  width: 100%;

  margin: 5px 0px 5px 0px;

  border-width: thin;
  border-style: solid;
  border-color: rgba(0,0,0,1);
}

.section-label {
  font-size: 12px;
  width: 70px;

  margin: 5px 0px 5px 5px;

  border-width: thin;
  border-style: solid;
  border-color: rgba(255,0,0,1);
}

.search-child {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  margin: 0px 5px 0px 0px;
  flex-grow: 2;

  background: rgba(255,255,255,1);

  border-width: thin;
  border-style: solid;
  border-color: rgba(255,0,0,1);
  border-radius: 5px;

}

.search-button-container {
  text-align: center;
}

.search-button-container {
  width: 150px;
  height: 25px;

  background: linear-gradient(to bottom, #2b48ef, #1e32a8);
  border-width: thin;
  border-style: solid;
  border-radius: 15px;
  margin: 0px 0px 5px 0px;
}

.search-button {
  color: rgba(255,255,255,1);
  font-weight: bold;
  text-align: center;
}

/*autocomplete formatting*/

.autocomplete-input {
  /*does the actual input box*/
  height: 15px;
  font-size: 12px;

  font-family: 'Noto Sans', sans-serif;
  flex-grow: 2;

  border-width: thin;
  border-style: solid;
  border-color: rgba(255,255,0,1);

}
  /*does the results of autocomplete*/
/*.autocomplete-group {

  font-size: 12px;

  border-width: 2px;
  border-style: solid;
  border-color: rgba(255,0,0,1);
}*/

.autocomplete-item {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255,0,0,1);
}

.autocomplete-container {

}

.google-logo-image {
  height: 12px;
  align-items:
}

.google-logo-container {

}

/*card container code*/
.card-container {
  display: flex;
  flex-wrap: wrap;

  background: rgba(242,242,242,1);

  border-width: thin;
  border-style: solid;
  border-color: rgba(0,0,255,1);
}

.source-logo {
  max-width: 20%;
}



/*individual card code*/
.event-container {
  font-size: 14px;
  border-width: thin;
  border-style: solid;
  border-color: rgba(174,179,186,1);
  border-radius: 10px;

  box-shadow: 2px 2px #b8babc;

  background: rgba(255,255,255,1);

  margin: 5px 10px 5px 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.event-image {
  max-width: 20%;
  max-height: 100%;
}

.event-title {
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}

.card-heading {
  font-weight: bold;
}


/*Maps*/

.map-toggle {
  height: 40px;
  margin: 10px 10px 0px 10px;
  border-width: thin;
  border-style: solid;
  border-color: rgba(0,255,0,1);
}

.map-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  border-width: thin;
  border-style: solid;
  border-color: rgba(0,255,0,1);
}


.map-marker {
  height: 40px;
  cursor: pointer;
}
